.carousel {
  overflow: hidden;
  cursor: grab;
  background-color: rgb(198, 198, 176);
  border-radius: 2rem;
}
.inner-carousel {
  display: flex;
}
.item {
  min-height: 65rem;
  min-width: 40rem;
  padding: 20px 10px;
}
.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}
